<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="mx-auto" style="width: 350px;">
  <div class="col-md-12">
    <%= form_with scope: :session, url: login_path do |f| %>

      <label>email</label>
      <%= f.email_field :email, class: 'form-control' %>

      <label>Password</label>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>