<nav class="navbar navbar-custom">
    <%= link_to "PortFolio", root_path, id: "logo" %>
            <ul class="navbar-cs pull-lg-right">
              <li class="list-inline-item">
                <%= link_to "Home", root_path %>
              </li>
              <% if logged_in? %>
              <li class="list-inline-item">
              <%= link_to "Users", users_path %>
              </li>
              <li class="nav-item dropdown list-inline-item">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown">
                  <a class="dropdown-item"><%= link_to "Profile", current_user %></a>
                  <a class="dropdown-item"><%= link_to "Settings", edit_user_path(current_user) %></a>
                  <a class="dropdown-item"><%= link_to "Log out", logout_path, method: :delete %></a>
                </ul>
              </li>        
              <% else %>
                <li class="list-inline-item"><%= link_to "Log in", login_path %></li>
              <% end %>
            </ul>
</nav>
